.catalog__count {
  margin-bottom: 12px;
  color: var(--color-muted);
}
@media (max-width: 1023px) {
  .sidebar-filter {
    display: none;
  }
}
@media (min-width: 1023px) {
  .sidebar-filters {
    display: none;
  }
}
